<h1 class="mt-3 text-center text-2xl">Selectores anidados</h1>
<hr class="border-amber-500">

<form class="flex flex-col items-center flex-wrap gap-2 mt-2" [formGroup]="form">

  <!-- Region -->
  <div class="">
    <div class="flex-col">
      <label class="text-center">Continente:</label>
      <select formControlName="region" class="basis-full">
        <option value="">-- Seleccione el continente --</option>
        <option [value]="region" *ngFor="let region of regions ">{{ region }}</option>
      </select>
    </div>
  </div>

  <!-- Pais -->
  <div class="flex-row" *ngIf="paisesPorRegion.length > 0">
    <div class="basis-1/4">
      <label>Pais:</label>
      <select formControlName="pais">
        <option value="">-- Seleccione el Pais --</option>
        <option [value]="paises.cca3" *ngFor="let paises of paisesPorRegion ">{{ paises.name.common }}</option>
      </select>
    </div>
  </div>

  <!-- Fronteras -->
  <div class="flex-row" *ngIf="fronteras.length > 0">
    <div class="basis-1/4">
      <label>Frontera:</label>
      <select formControlName="frontera">
        <option value="">-- Seleccione la frontera --</option>
        <option [value]="frontera.cca3" *ngFor="let frontera of fronteras ">{{ frontera.name.common }}</option>
      </select>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<hr>
<code>
  {{ form.value| json }}
</code>